<p id="notice"><%= notice %></p>
<div class="container">
	    <div class="d-inline-block">
        <h4>Dane nauczyciela : <%= @teacher.imie %> <%= @teacher.nazwisko %></h4>
    </div>
    <hr />
<p>
  <strong>Imie:</strong>
  <%= @teacher.imie %>
</p>

<p>
  <strong >Nazwisko:</strong>
  <%= @teacher.nazwisko %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @teacher.pesel %>
</p>

<p>
  <strong>Przedmiot:</strong>
  <%= @teacher.subject.nazwa %>
</p>
<center>
  <%= link_to 'Edytuj', edit_teacher_path(@teacher) , :class => "btn btn-warning btn-sm"%> |
  <%= link_to 'Wróć', teachers_path , :class => "btn btn-warning btn-sm"%>
</center>